@import "../../variables";

.starship-details {
  .starship-card {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
      url("../../assets/starnight.jpg") center/cover;
    padding: 1rem;
    font-weight: 300;

    .starship-name {
      text-align: center;
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    .starship-card-container {
      text-align: center;
      img {
        border-bottom: 2px solid $accent;
      }
    }

    span {
      display: inline-block;
      font-size: 0.7rem;

      & + span {
        margin-left: 5px;
      }
    }

    .category {
      color: $accent;
    }

    .value {
      font-style: italic;
      font-weight: 200;
    }
  }
}

// MEDIA QUERIES

@media (min-width: $breakpoint-1) {
  .starship-details {
    .starship-card {
      .starship-name {
        font-size: 2.4rem;
      }
      span {
        font-size: 1rem;
      }
    }
  }
}
