@import "../../variables";

.home-page {
  .home-page-content {
    font-weight: 200;
    font-size: 0.9rem;
  }
}

// MEDIA QUERIEs

@media (min-width: $breakpoint-1) {
  .home-page {
    .home-page-content {
      font-size: 1rem;
    }
  }
}
