@import "../../variables";

.home-page {
  .home-page-text {
    text-align: justify;
    font-weight: 200;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .section-title {
    font-weight: 200;
    border-bottom: 1px solid $white;
    margin: 1rem 0;
  }
}

// MEDIA QUERIEs

@media (min-width: $breakpoint-1) {
  .home-page {
    .home-page-text {
      font-size: 1rem;
    }
  }
}
@media (min-width: $breakpoint-3) {
  .home-page {
    .home-page-text {
      column-count: 2;
      gap: 2rem;
    }
  }
}
