@import "../variables";

.card {
  margin-bottom: 2rem;
  position: relative;
  .card-thumbnail {
    min-height: 200px;
    border-radius: 10px 10px 0 0;
  }

  .card-text-content {
    background-color: $secondary;
    padding: 2rem;
    border-radius: 0 0 10px 10px;

    h4 {
      font-weight: 300;
      color: $accent2;
    }
    p {
      font-weight: 200;
    }

    .card-indent {
      position: absolute;
      bottom: 0;
      background-color: $primary;
      padding: 0.5rem;
      border-radius: 5px 5px 0 0;
      width: 6rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

// MEDIA QUERIES

@media (min-width: $breakpoint-1) {
  .card {
    .card-thumbnail {
      min-height: 350px;
    }
  }
}
@media (min-width: $breakpoint-2) {
  .card {
    display: flex;

    .card-thumbnail {
      width: 50%;
      border-radius: 10px 0 0 10px;
    }

    .card-text-content {
      width: 50%;
      border-radius: 0 10px 10px 0;

      .card-indent {
        left: 75%;
      }
    }
  }
}
