@import "../variables";

// **
// HERO
// **

.hero,
.error-img__container {
  height: fit-content;
  margin-bottom: 1rem;
  position: relative;
}

.overlay {
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
  font-weight: 200;
  text-align: left;
  font-style: italic;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 1rem;
  padding-right: 1rem;

  .overlay-content {
    .content-message {
      color: $white;
      display: none;
      font-size: 1rem;
      font-weight: 200;
    }

    .content-text {
      display: none;
      color: $accent2;
      font-size: 0.8rem;

      font-weight: 200;
    }
  }
}

// MEDIA QUERIES

@media (min-width: $breakpoint-1) {
  .overlay {
    .overlay-content {
      .content-message {
        display: block;
        font-size: 1.3rem;
      }

      .content-text {
        display: block;
        font-size: 1rem;
      }
    }
  }
}
@media (min-width: $breakpoint-2) {
  .overlay {
    .overlay-content {
      .content-message {
        font-size: 2rem;
      }

      .content-text {
        font-size: 1rem;
      }
    }
  }
}
