@import "../variables";

header {
  background-color: $primary;

  .navbar {
    padding: 1rem 0;

    .navbar-logo-container {
      text-align: center;

      .navbar-logo {
        width: 200px;
      }
    }

    .navbar-menu {
      border-top: 1px solid $secondary;
      border-bottom: 1px solid $secondary;
      margin: 1rem 0;
      display: flex;
      justify-content: center;

      .nav-link {
        padding: 0.5rem;
        font-size: 0.5rem;
        font-weight: 200;
        border-left: 1px solid $secondary;

        &:last-child {
          border-right: 1px solid $secondary;
        }

        &.nav-link.active {
          border-bottom: 2px solid $accent2;
        }
      }
    }
  }
}

// MEDIA QUERIES

@media (min-width: $breakpoint-1) {
  header .navbar .navbar-menu .nav-link {
    font-size: 1.33rem;
  }
}
